body{
    background-image: url(../bgimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .container{
        margin-left: 100px;
        margin-right: 100px;

    }
    p{
        font-size: 20px;
        opacity: 0.4;
    }
    .one{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
       
    }
.two{
    color:rgb(79, 128, 0);
    
}
    footer{
        border: 2px dotted rgb(156, 153, 153);
        padding: 50px;text-align: center;
         font-size: 20px;
         color: darkblue;
    }
    
    img{
        width: 200px;
        
    }
    header{
        text-align: center;
    }
    #major{

        color:Red
    }